@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
header,
main {
  width: 70%;
  margin: 0px auto;
  border: 2px solid black;
}

p {
  font-family: "Inter", sans-serif;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

/* top benner container */
.benner-container {
  margin-top: 50px;
  margin-bottom: 120px;
  background-image: url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 650px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benner-container .content h3 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}
.benner-container .content .benner-title {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  width: 630px;
  text-align: center;
}

/* all categories section */
.categories-container {
  text-align: center;
  margin-bottom: 120px;
}
.categories-title {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 60px;
}
.categories-container p:nth-child(2) {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0px;
}
.categories-container p:nth-child(3) {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin: 50px 0px;
}

/* midnight section */
.midnight-container {
  margin-bottom: 120px;
  background-image: url("../resources/vectorrr.PNG");
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 60px 0px;
}
.midnight-container .midnight-title {
  width: 640px;
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  line-height: 80px;
  letter-spacing: 7.04px;
}
.midnight-contain p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 690px;
}
.btn {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #f00;
  font-size: 20px;
  font-weight: 700;
  border: none;
  font-family: Inter;
  color: #fff;
  transition: background-color 0.5s, color 0.5s;
}
.midnight-contain > .btn {
  margin-left: 50px;
}
.btn:active {
  background-color: rgb(206, 102, 102);
  color: #212024;
}

/* place section */
.place-container {
  padding: 100px 0px;
  margin-bottom: 120px;
  text-align: center;
  background-color: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}
.place-container .place-contain p {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
.place-container .place-contain p > span {
  color: #f00;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}

.place-contain > .btn {
  margin-top: 50px;
}

/* coming soon section  */
.coming-soon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

.coming-soon-bottom > * {
  margin-bottom: 20px;
}
.coming-soon-left > * {
  margin-bottom: 20px;
}

.coming-soon-left .coming-soon-offer {
  color: #f00;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.coming-soon-left > h1 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
}
.coming-soon-left > p:last-child {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  width: 390px;
}

.coming-soon-center .cricle {
  width: 463px;
  height: 463px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f00;
  border-radius: 50%;
}

.cricle img {
  border-radius: 50%;
  border: 30px solid #fff;
}

.coming-soon-bottom .year {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
}

.coming-soon-bottom > p:nth-child(2) {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 276px;
}

/* holidays-discount-offer */
.holidays-discount-offer {
  margin-bottom: 120px;
  text-align: center;
}
.discout-contain p:first-child {
  color: #070211;
  font-size: 24px;
  font-weight: 500;
}
.discout-contain h1 {
  color: #070211;
  font-size: 72px;
  font-weight: 900;
  margin: 20px;
}
.discout-contain h1 > span {
  color: #f00;
}
.discout-contain p:last-child {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  width: 1050px;
  margin-top: 20px;
  margin-bottom: 64px;
}

/* discout-contain image position */
.discount-images {
  position: relative;
  width: 100%;
  height: 660px;
}
.rectangle-down {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.surprise {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}
.shoping-img {
  position: absolute;
  bottom: 225px;
  right: 0;
  z-index: 0;
}
.discount {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

/* Portfolio section */

.portfoli-container {
  margin-bottom: 120px;
}
.portfoli-contain p:first-child {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.portfoli-contain h1 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin: 20px 0px;
}
.portfoli-contain p:last-child {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 890px;
  margin-bottom: 50px;
}

.portfoli-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.portfoli-images div img {
  opacity: 90%;
  transition: scale 0.5s, opacity 0.5s;
}
.portfoli-images div img:hover {
  scale: 1.11;
  opacity: 100%;
}

/* subcribe section */
.subcribe-container {
  margin-bottom: 120px;
  padding: 80px 0px;
  text-align: center;
}
.subcribe-contain img {
  margin-bottom: 40px;
}
.subcribe-contain > h1 {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
}
.subcribe-contain > p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 890px;
  margin: 10px auto 50px auto;
}

.form {
  width: 50%;
  margin: 0px auto;
  border-radius: 50px;
  overflow: hidden;
  border: 0.1px solid black;
}
.form form {
  display: flex;
}
.form input {
  flex-grow: 1;
  padding-left: 20px;
  color: black;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  border: none;
}
.form input::placeholder {
  color: rgba(7, 2, 17, 0.3);
}
.form form > .btn {
  border-radius: 0px;
}

/* footer section */
footer {
  background-color: #070211;
}

.footer-container {
  width: 70%;
  margin: 0px auto;
  padding: 120px 0px;
  text-align: center;
}
.footer-container > div,
hr {
  margin-bottom: 50px;
}
.footer-container p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.footer-container > hr {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
}

.footer-top,
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-left p {
  width: 376px;
}
.footer-right p {
  display: flex;
  align-items: center;
  gap: 10px;
}
